/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;
  --grey: #dbdbdb;

  --gradient-7: #CFF09E;
  --gradient-6: #BBE79D;
  --gradient-5: #A2D79B;
  --gradient-4: #86C59A;
  --gradient-3: #67A690;
  --gradient-2: #487F80;
  --gradient-1: #2A546F;
  --gradient-0: #0B486B;

  --dark-blue: #02141c;
  --red: #ae4d4d;
  --green: #4dae52;

  --dark-red: #772727;

  --color-background: var(--white-mute);
  --color-text: var(--dark-blue);

  --game-height: 800px;
  --game-width: 1300px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noSelect {
  -webkit-user-select: none;
  -khtml-user-select: none;
    -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}