@import "./base.css";

#app {
  width: 100vw;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  padding: 0rem 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  place-items: center;
}

.flex {
  display: flex;
}

.flex-center {
  align-content: center;
  justify-content: center;
  align-items: center;
}

.fill-screen-width {
  width: 100vw;
}

.fill-screen-height {
  height: 100vh;
}

.text-white {
  color: white;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.containNoRepeatCenter {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.spinner {
  background-image: url(/img/spinner.svg);
}

.noSelect{
  -ms-user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
   user-select:none;
}

a {
  color: var(--dark-blue) !important;
  margin: 5px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: var(--gradient-4) !important;
}

a:visited {
  color: var(--dark-blue) !important;
  text-decoration: none;
}

.button {
  cursor: pointer;
  color: var(--white);
  background-color: var(--gradient-0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 40px;
  font-weight: normal;
}

.button:hover {
  color: var(--gradient-0);
  background-color: var(--gradient-7);
}

.align-center {
  text-align: center !important;
}

.size-title {
  font-size: 24px;
}

.size-normal {
  font-size: 14px;
}

.size-small {
  font-size: 12px;
}

.w-700 {
  font-weight: 700;
}

.w-500 {
  font-weight: 500;
}

.w-400 {
  font-weight: 400;
}

.w-200 {
  font-weight: 200;
}