@import "./base.css";

#app {
  width: 100vw;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  padding: 0rem 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  place-items: center;
}

.flex {
  display: flex;
}

.flex-center {
  align-content: center;
  justify-content: center;
  align-items: center;
}

.fill-screen-width {
  width: 100vw;
}

.fill-screen-height {
  height: 100vh;
}

.text-white {
  color: white;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.containNoRepeatCenter {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image404 {
  background-image: url(/img/404.png);
}

.tuxitLogo {
  background-image: url(/img/tuxit_logo.png);
}

.spinner {
  background-image: url(/img/spinner.svg);
}

.starkNetLogo {
  background-image: url(/img/starknet_logo.png);
}

.noSelect{
  -ms-user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
   user-select:none;
}

a {
  margin: 5px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  
}

a:visited {
  text-decoration: none;
}

.button {
  cursor: pointer;
  color: var(--white);
  background-color: var(--gradient-0);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 50px;
  font-weight: normal;
}

.button:hover {
  color: var(--gradient-0);
  background-color: var(--gradient-7);
}

.align-center {
  text-align: center !important;
}

.size-title {
  font-size: 21px;
}

.size-normal {
  font-size: 14px;
}

.w-700 {
  font-weight: 700;
}

.w-500 {
  font-weight: 500;
}